[user]
	name = Ilya Isaev
	email = me@ilyaisaev.com
[push]
	default = simple 
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[diff "sopsdiffer"]
	textconv = sops -d
[pull]
	rebase = true
[init]
	defaultBranch = main
